*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: var(--fs-base);
  font-family: var(--font-family);
  line-height: var(--lh-normal);
  color: var(--color-text-primary);
}

body {
  min-height: 100vh;
  background: var(--color-bg-primary);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
